{% extends 'hotelapp/base_generic.html' %}
{% block content %}
<div class = "" >
    <h2>Reservations</h2>
    <table  class="w3-table"
            data-toggle="table"
            data-flat="true"
            data-search="true"
            class="w3-table">
        <thead>
            <tr>
                <th>Customer name</th>
                <th>Hotel name</th>
                <th>Room number</th>
                <th>Floor</th>
                <th>Checkin</th>
                <th>Checkout</th>
                <th>Total due</th>
            </tr>
        </thead>
        <tbody>
        {% for obj in query %}
        <tr>
            <td>{{obj.customer.name}}</td>
                <td>{{obj.room.hotel.name}}</td>
                <td>{{obj.room.room_number}}</td>
                <td>{{obj.room.room_floor}}</td>
                <td>{{obj.checkin_date|date:'b. d Y'|capfirst}} 2p.m<br/></td>
                <td>{{obj.checkout_date|date:'b. d Y'|capfirst}} noon<br/></td>
                <td>$ {{obj.total_charges}}<br/></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
