{% extends 'hotelapp/base_generic.html' %}
{% block content %}
<script>
 function set_room(r){
     var room = document.getElementById("id_roomid");
     room.setAttribute('value', r);
     var x = document.getElementById("submit_form");
     if (x.style.display === "none") {
         x.style.display = "block";
     }
 }
</script>
<div class = "newuser-form" >

    <table data-toggle="table"
           data-flat="true"
           data-search="true"
           class="w3-table">
        <thead>
            <tr>
                <th data-sortable="true"> Hotel </th>
                <th>room number</th>
                <th>room floor</th>
                <th>room type</th>
                <th data-sortable="true">Price Daily</th>
                <th data-sortable="true"> Price Weekly</th>
                <th>Has balcony</th>
                <th>select room</th>
            </tr>
        </thead>
        <tbody>
            {% for q in query %}
            <tr>
                <td> {{ q.hotel}}</td>
                <td> {{q.room_number}}</td>
                <td> {{ q.room_floor}}</td>
                <td> {{ q.room_type}} </td>
                <td> {{ q.room_rate_nightly }} </td>
                <td> {{ q.room_rate_weekly }} </td>
                <td> {{ q.has_balcony}} </td>
                <td>
                    <label>
                        <input type="radio" name="select-room" onclick="set_room({{q.room_id}})" value="{{q.room_id}}">
                        <span></span>
                    </label>

                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <form class="site-form" action="/select-room" method="post">
        {% csrf_token %}
        <table>
            {{ room.as_table }}
        </table>
        <input style="display: none;" id="submit_form" type="submit" value="submit">
    </form>


</div>
{% endblock %}
